body {
	background-image:url(images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h3 {
 color: rgb(199, 231, 255);
 text-align: center;
 margin-right: 12%;
}

#logoSD {
	width: 150px;
	height: 150px;
	position: absolute;
	top: -20px;
	left: 0px;
    z-index: -1;
}

#logoXignite {
	width: 150px;
	height: 80px;
	position: absolute;
	top: 110px;
	left: 0px;
	padding-left: 10px;
    z-index: -1;
}

#logoCIQ {
	width: 150px;
	height: 80px;
	position: absolute;
	top: 200px;
	left: 0px;
	padding-left: 10px;
    z-index: -1;
}

#logoOpenfin {
	width: 150px;
	height: 80px;
	position: absolute;
	top: 300px;
	left: 0px;
	padding-left: 10px;
    z-index: -1;
}

currency {
	display: flex;
	flex-direction: row;
	width: 200px;
	margin-left: 42%;
}

currency > * {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	width:100%;
	text-align:center;
	color: rgb(199, 231, 255);
}

currency:hover {
	background-color: rgb(57, 85, 97);
}

.fsbl-header {
	left: 0;
}